/* =============
    Section 4 
============= */
#section-4{
display: grid;
background-color: $gray;

    #section-4-title{
        h1 {
            text-align: center;
            padding-bottom: none;
            padding-top: 20px;

            @include md {
                font-size: 2.5rem;
            }
        }
        h3{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        h2{
            text-align: center;

        }

        li{
            text-align: center;
            list-style: none;

            button{
                background-color: $white;
                border-radius: 0;
                border: 3px $navy solid;
                width: 281px;
                height: 34px;
                text-align: center;
                margin-bottom: 20px;
                h4{
                    font-weight: 300;
                }
            }
        }
    }

    #questions{
        display: grid;
        grid-template-columns: 2;

        ul{
            @include md {
                display: grid;
                gap: 40px;
                margin-right: 140px;
                margin-left: 140px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }

            @include lg {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }

            li{
                padding: 20px 0px;
                margin-bottom: 10px;

                h3 {
                    padding-bottom: 25px;
                    padding-left: 85px;
                    margin-right: 20px;
                    line-height: 21px;
                }

                p {
                    padding-bottom: 10px;
                    padding-left: 85px;
                    margin-right: 20px;
                    line-height: 20px;
                }

                button {
                    border: none;
                    background-color: $navy;
                    border-radius: 0;
                    margin-left: 20px;
                    margin-right: 20px;
                    width: 41px;
                    height: 41px;
                    h2{
                        color: $white;
                    }
                }

            }

        }
    }









}