/* =============
    Section 5 
============= */
#section-5{
    
    margin-bottom: 40px;
    background-image: url("../img/Section-5/runner-guy.jpeg");
    background-position: center;
    background-size: cover;
    padding-top: 450px;
    @include lg{
        padding-top: 800px;
    }
}