/* =============
    Section 3 
============= */
#section-3{
    display: grid;
    img{
        width: 100%;
    };

    #section-3-title{
        h1 {
            text-align: center;
            padding-bottom: 20px;
        }

    }

    #section-3-hero{

        button {
            border: none;
            background-color: $orange;
            border-radius: 0;
            color: $white;
            width: 71px;
            height: 22px;
            
        }
        .container {
            position: relative; 
        }
        .text {
            position: absolute;
            bottom: 80px;
            padding-left: 30px;
            @include md{
                bottom: 200px;
                padding-left: 50px;
            }
            @include lg{
                bottom: 300px;
                padding-left: 80px;
            }
            h2{
                color: $white;
                line-height: 30px;
                @include md{
                    font-size: 3rem;
                    line-height: 60px;
                }
                @include lg{
                    font-size: 5rem;
                    line-height: 90px;
                }
            }
            button{
                margin-top: 20px;
                @include md{
                    width: 94px;
                    height: 31px;
                    font-size: 1.3rem;
                }
                @include md{
                    margin-top: 50px;
                    width: 111px;
                    height: 34px;
                    font-size: 1.3rem;
                }
            }
        }
    }

    #shirts{

        ul{
            display: grid;
            @include md {
                gap: 40px;
                margin-right: 58px;
                margin-left: 58px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2,1fr);
                grid-template-areas: 
                "shirt1 shirt1 shirt2 shirt2" 
                ". shirt3 shirt3 .";

            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
                grid-template-areas: 
                "shirt1 shirt2 shirt3";

            }

            li{

                padding: 20px 0px;
                text-align: center;
                margin-bottom: 10px;

                button {
                    border: none;
                    background-color: $orange;
                    border-radius: 0;
                    margin-top: 15px;
                    color: $white;
                    width: 108px;
                    height: 34px;
                }
            }
        }



    }
    #shirt1 {
        @include md {
            grid-area: shirt1;
        }
        @include lg {
            grid-area: shirt1;
        }
    }
    #shirt2 {
        @include md {
            grid-area: shirt2;
        }
        @include lg {
            grid-area: shirt2;
        }
    }
    #shirt3 {
        @include md {
            grid-area: shirt3;
        }
        @include lg {
            grid-area: shirt3;
        }
    }




}