/* =============
    Footer
============= */
#footer{
    background-color: $navy;
    padding-bottom: 32px;
    // @include md{
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-template-areas: "footer-title footer-subtitle";
    // }

    #footer-title{
        h1 {
            text-align: center;
            padding-bottom: 20px;
            padding-top: 40px;
            color: $white;
            @include md{
                text-align: left;
                padding-left: 50px;
                font-size: 2.5rem;
            }
        }
    }
    #footer-subtitle{
       h3{
           color: $white;
           text-align: center;
           padding-bottom: 30px;
           padding-top: 7px;
           @include md{
               text-align: left;
               padding-left: 50px;
               padding-top: 30px;
           }
       }
       h4{
        color: $white;
        text-align: center;
        padding-bottom: 10px;
        @include md{
            text-align: left;
            padding-left: 50px;
        }
       }
    }

    #button-1{
        li{
            text-align: center;
            list-style: none;
            @include md{
                text-align: left;
                padding-left: 50px;
            }
            button{
                background-color: $white;
                border-radius: 0;
                border: 0px;
                width: 238px;
                height: 31px;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 10px;
                h4{
                    font-weight: 300;
                    color: $dark-gray;
                }
            }
        }
    }
    #button-2{
        li{
            text-align: center;
            list-style: none;
            @include md{
                text-align: left;
                padding-left: 50px;
            }
            button{
                background-color: $orange;
                border-radius: 0;
                border: 0px;
                width: 238px;
                height: 31px;
                text-align: center;
                margin-bottom: 20px;
                h4{
                    font-weight: 300;
                    color: $white;
                }
            }
        }
    }

    #footer-icons{
        display: flex;
        flex-direction: row;
        margin-left: 98px;
        @include md{
            margin-left: 314px;
        }
        a:link,
        a:visited {
            align-items: center;
            border: 3px solid $orange;
            border-radius: 100px;
            height: 40px;
            width: 40px;
            justify-content: center;
            margin-top: 10px;
            margin-right: 20px;
            
            
            div{
                color: $orange;
                text-align: center;
                // align-content: center;
                // justify-content: center;
                // align-items: center;
                
            }
        }
        a:hover,
        a:active{
            background-color: $orange;
            div{
                color: $white;
            }
        }

    

    }
    

    #footer-title-2{
        h2 {
            text-align: center;
            padding-bottom: 20px;
            padding-top: 20px;
            color: $white;
        }
    }
    p{
        color: $white;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 22px;
        line-height: 20px;
        span{
            color: $orange;
            font-weight: 900;
        }
    }
}