/* =============
    Header
============= */
header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    // border: 1px green solid;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
            img{
                width: 40%;
            }
            // border: 1px orange solid;
        }


        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 20px;
            color: $navy;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $white;
            display: none;
            grid-area: nav;
            padding: 20px;
            ul{
                li{
                    font-family: 'Montserrat', sans-serif;
                    color: $navy;
                }
            }

            @include lg {
                background-color: $white;
                display: block !important;
            }
            a:hover,
            a:active{
            ul{
                li{
                    color: $orange;
            }
        }
        }
    }
    }
}